<nav class="navbar">
    <div class="logo">Next<span>Hire</span></div>

    <div class="nav-right">
        <div class="nav-links">


            <% if (user.role==='recruiter' ) { %>
                <a href="/recruiter/dashboard">Home</a>
                <a href="/recruiter/create">Create Job</a>
                <a href="/recruiter/myjobs">Published Jobs</a>
                <% } else { %>
                    <a href="/home">Home</a>
                    <a href="/jobs/alljobs">Jobs</a>
                    <a href="/applications/my">Applications</a>
                    <a href="/jobs/saved">Saved Jobs</a>
                    <div class="ai-menu">

                        <button class="ai-btn">
                            AI Mode ▼
                        </button>

                        <div class="ai-dropdown">
                            <a href="/ai/preparation">
                                Interview Preparation
                            </a>

                            <a href="/ai/mockInterview">
                                Mock Interview
                            </a>
                        </div>

                    </div>
                    <% } %>
        </div>


        <div class="user-section">

            <div class="notification-container">

                <div id="notificationBell" class="notification-bell">
                    🔔
                    <span id="notificationCount">
                        0
                    </span>
                </div>
                <div id="notificationDropdown" class="notification-dropdown">

                    <div class="notification-header">
                        Notifications
                    </div>

                    <div id="notificationList">

                    </div>

                </div>

            </div>

            <img src="<%= user.profilepic %>" alt="Profile" class="profile-pic" onclick="toggleMenu()">

            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/logout">Logout</a>
                <a href="/profile">Edit Profile</a>
            </div>

        </div>

    </div>
</nav>
<script>
    window.currentUserId = "<%= user._id %>";
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/navbar.js"></script>
<script src="/javascripts/navbar2.js"></script>