<nav class="navbar">
    <div class="logo">Next<span>Hire</span></div>

    <div class="nav-right">
        <div class="nav-links">


            <% if (user.role==='recruiter' ) { %>
                <a href="/recruiter/dashboard">Home</a>
                <a href="/recruiter/create">Create Job</a>
                <a href="/recruiter/myjobs">Published Jobs</a>
                <% } else { %>
                    <a href="/home">Home</a>
                    <a href="/jobs/alljobs">Jobs</a>
                    <a href="/applications/my">Applications</a>
                    <a href="/jobs/saved">Saved Jobs</a>
                    <% } %>
        </div>

        <div class="user-section">
            <a href="/logout" class="logout-link">Logout</a>
            <img src="<%= user.profilepic %>" alt="Profile" class="profile-pic">
        </div>
    </div>
</nav>